<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://www.w3schools.com/lib/w3.js"></script>
	</head>


	<body>

		<header class="">
			<div class="w3-bar w3-black">

				<a href="/" class="w3-bar-item w3-button">Home</a>
				<a href="/about" class="w3-bar-item w3-button">About</a>
				<a href="#" class="w3-bar-item w3-button">Link 2</a>
				<a href="#" class="w3-bar-item w3-button">Link 3</a>

				<div class="w3-dropdown-hover w3-hide-small">
					<button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="#" class="w3-bar-item w3-button">Merchandise</a>
						<a href="#" class="w3-bar-item w3-button">Extras</a>
						<a href="#" class="w3-bar-item w3-button">Media</a>
					</div>
    			</div>

    			<a href="#" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    			<a href="/login" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-user-circle-o"></i></a>
    			<a href="/register" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-user-plus"></i></a>

			</div>
		</header>


		<div class="content w3-row">

			<div id="sidenav" class="w3-container w3-col m2 l2">
				
			</div>

			<div class="w3-container w3-col m7 l7">
				{%  block content_body %}
				{% endblock %}
			</div>

			<div class="w3-container w3-col m3 l3">
				{%  block right_body %}
				{% endblock %}
			</div>

		</div>



		<footer class="w3-buttom">

			<div class="w3-bar w3-gray w3-row">

				<div class="w3-bar-item w3-col m4 l4">
					<div class="w3-bar-block w3-center">
						<div class="w3-bar-item">London</div>
						<div class="w3-bar-item">Paris</div>
						<div class="w3-bar-item">Tokyo</div>
					</div>
				</div>

				<div class="w3-bar-item w3-col m4 l4">
					<div class="w3-bar-block w3-center">
						<div class="w3-bar-item">London</div>
						<div class="w3-bar-item">Paris</div>
						<div class="w3-bar-item">Tokyo</div>
					</div>
				</div>

				<div class="w3-bar-item w3-col m4 l4">
					<div class="w3-bar-block w3-center">
						<div class="w3-bar-item">London</div>
						<div class="w3-bar-item">Paris</div>
						<div class="w3-bar-item">Tokyo</div>
					</div>
				</div>

			</div>

		</footer>

	</body>
</html>